{% load static %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ADMIN HOME</title>
    <link rel="stylesheet" href={% static 'css/components.css' %}>
    <link rel="stylesheet" href={% static 'css/icons.css' %}>
    <link rel="stylesheet" href={% static 'css/responsee.css' %}>
    <link rel="stylesheet" href={% static 'owl-carousel/owl.carousel.css' %}>
    <link rel="stylesheet" href={% static 'owl-carousel/owl.theme.css' %}>
    <!-- CUSTOM STYLE -->
    <link rel="stylesheet" href={% static 'css/template-style.css' %}>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>    
    <script type="text/javascript" src="js/validation.js"></script> 
  </head>   
  
  <body class="size-1140">
  	<!-- PREMIUM FEATURES BUTTON -->
  	<a target="_blank" class="hide-s" href="../template/prospera-premium-responsive-business-template/" style="position:fixed;top:120px;right:-14px;z-index:10;"><img src="img/premium-features.png" alt=""></a>
    <!-- HEADER -->
    <header role="banner">    
      <!-- Top Bar -->
      <!--<div class="top-bar background-white">
        <div class="line">
          <div class="s-12 m-6 l-6">
            <div class="top-bar-contact">
              <p class="text-size-12">Contact Us: 9447650210 | <a class="text-orange-hover" href="#">amrutha098@gmail.com</a></p>
            </div>
          </div>
          <!--<div class="s-12 m-6 l-6">
            <div class="right">
              <ul class="top-bar-social right">
                <li><a href="/"><i class="icon-facebook_circle text-orange-hover"></i></a></li>
                <li><a href="/"><i class="icon-twitter_circle text-orange-hover"></i></a> </li>
                <li><a href="/"><i class="icon-google_plus_circle text-orange-hover"></i></a></li>
                <li><a href="/"><i class="icon-instagram_circle text-orange-hover"></i></a></li>
              </ul>
            </div>
          </div>-->
        </div>
      </div>
      
      <!-- Top Navigation -->
      <!--<nav class="background-white background-primary-hightlight">
        <div class="line">
          <div class="s-12 l-2">
            <a href="index.html" class="logo"><img src={% static 'img/index4.jpeg' %} alt=""></a>
          </div>-->
          <div class="top-nav s-12 l-10">
            <p class="nav-text"></p>
            <ul class="right chevron">
              
              
              <li class="active"><a href={% url 'Hm_vw' %}>Admin Home</a></li>
              <li><a href={% url 'add_event' %}>Create</a></li>
              <li><a href={% url 'list_event' %}>Edit</a>
              <li><a href={% url 'logout' %}>logout</a>
            </ul>
            
          </div><br>
        </div><br>
      </nav>
    </header>
    
        
      
    
<body>
	<form method='post' action='.' enctype="multipart/form-data">
	<div align="center">
		{% csrf_token %}
			<br>
      {{form.as_p}}
		<button>create</button>	
	</div>	
	</form>
</body>
</html>